<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owlbaba</title>
    <link rel="icon" type="image/png" href="static/owlbaba.png">
</head>
<body>
    <img src="static/owlbaba.png" alt="Owl Baba" width="200">
    <hr>
    <h1>Welcome to Owlbaba</h1>
    <p>The one stop shop for all your owl adjacent needs.</p>
    <br>
    <div>
        <h3>Potoo (not an owl)</h3>
        <img src="https://images.birdfact.com/production/common-potoo.jpg?w=1800&h=1350&q=80&auto=format&fit=crop&dm=1730720369&s=2b74a985cfc038aa476120eb48b015cc" alt="Potoo" width="150">
        <p>Benefits of owning this creature.</p>
        <ul>
            <li>Looks funny</li>
            <li>Will possibly defend you/your territory</li>
            <li><a href="https://youtu.be/YbIQ_hUwz9A?t=9" target="_blank">Sounds pretty cool</a></li>
        </ul>
        <p>Downsides of owning this creature.</p>
        <ul>
            <li>There are no downsides</li>
        </ul>
        <button disabled>$2999.99 [OUT OF STOCK]</button>
    </div>
    <div>
        <h3>African Spotted Eagle-Owl</h3>
        <img src="https://i.ytimg.com/vi/WX9YkC7Ommk/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLATuD6RNQuf8v5uTnAajjNpqfbD8A" alt="African Spotted Eagle-Owl" width="150">
        <p>Benefits of owning this being.</p>
        <ul>
            <li>Will ask you "who" hurt you</li>
            <li>Probably going to track that guy down</li>
            <li><a href="https://youtu.be/9dOmUH1wJeQ?t=9" target="_blank">Sounds like an owl</a></li>
        </ul>
        <p>Downsides of owning this being.</p>
        <ul>
            <li>Poop probably</li>
        </ul>
        <button disabled>$29.99 [OUT OF STOCK]</button>
    </div>
    <div>
        <h3>Snow Owl</h3>
        <img src="https://media.istockphoto.com/id/986720632/photo/close-up-snowy-owl-eye-with-wooden-background.jpg?s=612x612&w=0&k=20&c=R3vjYLh-LtH41kSdVW1Ndr_4mdE8Z2AQwDPXGW34ZhI=" alt="Snow Owl" width="150">
        <p>Benefits of owning this entity.</p>
        <ul>
            <li>Blends in to the snow (not an eyesore)</li>
            <li>Doesn't get cold easily</li>
            <li>Flies</li>
        </ul>
        <p>Downsides of owning this entity.</p>
        <ul>
            <li>Sounds kinda boring :/</li>
        </ul>
        <button disabled>$29.99 [OUT OF STOCK]</button>
    </div>
    <hr>
    <h3>AQUIRE FOOD FROM OUR SISTER SITE</h3>
    <a href="http://2526.lakeside-cs.org/ChaseC/Gerbilzon/">Gerbilzon</a>

    <h3>LEARN HOW TO CARE FOR YOUR OWL/OWL LIKE CREATURE</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jG4DEbJJHmQ" title="How to Care for Your Owl" allowfullscreen>
    </iframe>
    
</body>
</html>