{% extends "base.html.j2" %}

{% block body %}
<h2>Post Created Successfully!</h2>
<p>Your post has been added to the message board.</p>
<p><strong>You can now:</strong></p>
<ul>
    <li>Close this window/tab and return to the main page</li>
    <li>Or <a href="{{ url_for('index') }}">click here to go back to the main page</a></li>
    <li>Or <a href="{{ url_for('create') }}">create another post</a></li>
    <!-- Again wish I could close this page using JS but... -->
</ul>
{% endblock %}


