
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello World Page</title>
    </head>
<body>
    <!-- FYI, this is how you do a comment -->
    <p>Hello World! I’m valid HTML!</p>
    <a href="http://www.google.com">Google</a>
        <ul>
            <li>First item</li>
            <li>Second item</li>
            <li>Third item</li>
        </ul>
            <div>This is a div block 1.</div>
            <div>This is a div block 2.</div>
            <div>
                This div contains a <span>span element 1</span> and another <span>span element 2</span> inside.
            </div>
            <span>This is a standalone span element.</span>

    <p>&lt</p>
    <h1>-Kellen</h1>
    <img src="{{ url_for('static', filename='overcooked.jpg') }}" alt="Overcooked Game" style="max-width:100%;height:auto;">
    
</body>
</html>