{% extends 'base.html.j2' %}

{% block body %}
<h1>Leaderboard</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Trophies</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr {% if user.username==current_user %}class="active-row" {% endif %}>
            <td>{{ user.username }} {% if user.username == current_user %}(you){% endif %}</td>
            <td>{{ user.trophies }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="welcome">Back to Welcome Page</a>
{% endblock %}